extends base/layout

block content
  .container
    h1 이더리움 Ðapp 투표
    h2 더욱 안전하고, 신뢰성 있는 전자투표를 만나보세요!
    .text-center(style='margin: 50px;')
      a.btn.btn-primary.btn-lg(
        href="/public"
        role="button"

      ) 지금 투표하러 가기!
    hr(style='margin: 10px 40px 10px;')
    