// Footer
footer.footer
    .footer-copyright.text-center
        | 2018 ©
        a(href='https://github.com/Hanbae') Hanbae
    // Footer Links
    //.container-fluid.text-center.text-md-left
    //    .row
    //        .col-md-6.mt-md-0.mt-3
    //            h5.text-uppercase Footer Content
    //            p Here you can use rows and columns here to organize your footer content.
    //        hr.clearfix.w-100.d-md-none.pb-3
    //        .col-md-6.mb-md-0.mb-3
    //            // Links
    //            h5.text-uppercase Links
    //            ul.list-unstyled
    //                li: a(href='#!') Link 1
    //                li: a(href='#!') Link 2
    //                li: a(href='#!') Link 3
    //                li: a(href='#!') Link 4
